# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
ENV/
.env

# Django settings and database
db.sqlite3
*.log

# PyCharm or VS Code project files
.idea/
.vscode/

# Other IDE-specific files
.DS_Store
*.swp

# Don't ignore static and media files (allow these to be tracked)
!static/
!static/**
!media/
!media/**
