# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
ENV/
.env

# Django settings and database
db.sqlite3
*.log

# PyCharm or VS Code project files
.idea/
.vscode/

# Other IDE-specific files
.DS_Store
*.swp

# But do not ignore the directories themselves
!static/
!media/

# Allow everything inside these directories to be tracked
!static/**
!media/**
